.grid {
    display: grid;
}

.box {
     @extend .grid;

    .inner {
        width: 85vw;
        margin: 0 auto;
        position: relative;
    }
    @include media(big) {
        .inner {
            width: 70vw;
        }
    }
    @include media(biggest) {
        .inner {
            width: 65vw;
        }
    }
    

    

    // .double {
    //     ul {
    //         display: flex;
    //         display: grid;
    //         grid-template-columns: 1fr 1fr;
    //         column-gap: var(--spacer-two);
    //     }

    //     li {
    //         display: grid;
            
    //         &:last-child {
    //             margin-right: 0;
    //         }
    //     }
    // }
}

img {
    width: 100%;
    display: block;
}