.grid {
    display: grid;
}

.box {
     @extend .grid;

    .inner {
        width: 85vw;
        margin: 0 auto;
        position: relative;
    }
    @include media(big) {
        .inner {
            width: 76vw;
        }
    }

    // .double {
    //     ul {
    //         display: flex;
    //         display: grid;
    //         grid-template-columns: 1fr 1fr;
    //         column-gap: var(--spacer-two);
    //     }

    //     li {
    //         display: grid;
            
    //         &:last-child {
    //             margin-right: 0;
    //         }
    //     }
    // }
}

img {
    width: 100%;
    display: block;

    &.inline {
        display: inline;
        width: auto;
    }
}

.grid-holder {
    @extend .grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--spacer-gridgap);
}

.col {
    padding: 1rem;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-6 {
    grid-column: span 6;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-12 {
    grid-column: span 12;
}
