@mixin clearfix() {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

@mixin media($name, $breakpoints: $breakpoints) {
    @media (min-width: map-get($breakpoints, $name)) {
        @content;
    }
}