body, p, h1 {
  font-family: var(--font-secondary);
  color: var(--color-black);
}

h2, h3, h4, h5 {
  font-family: var(--font-primary);
  font-weight: 500;
}

h1 {
  font-size: var(--spacer-two);
  line-height: 1.3;
  font-weight: 500;
  margin: var(--spacer-one) 0 0 0;
  
  @include media(small) {
    margin: var(--spacer-one) 0 var(--spacer-one) 0;
    font-size: var(--spacer-two);
  }

  @include media(medium) {
    font-size: var(--spacer-twoandhalf);
  }

  @include media(bigger) {
    font-size: var(--spacer-twoandthreequarter);
  }

  @include media(biggest) {
    font-size: var(--spacer-threeandhalf);
  }

  @include media(bigass) {
    font-size: var(--spacer-five);
  }
}

h2 {
  font-size: var(--spacer-oneandthreequarter);
  line-height: 1.3;
  font-weight: 300;
  margin: var(--spacer-twoandquarter) 0 var(--spacer-twoandquarter) 0;

  @include media(small) {
    font-size: var(--spacer-twoandquarter);
    font-weight: 400;
  }

  @include media(biggest) {
    font-size: var(--spacer-three);
   }
}

h3 {
    font-size: var(--spacer-two);
    margin: 0 0 var(--spacer-oneandthreequarter) 0;
    letter-spacing: var(--fonts-letter-spacing-4);

  @include media(small) {
    font-size: var(--spacer-two);
  }

    @include media(biggest) {
      font-size: var(--spacer-three);
    }
}

h4 {
  font-family: var(--font-primary);
  font-size: var(--spacer-oneandhalf);
  margin: var(--spacer-oneandhalf) 0 var(--spacer-one) 0;
  letter-spacing: var(--fonts-letter-spacing-3);
  line-height: 1.3;

  @include media(small) {
      font-size: var(--spacer-oneandthreequarter);
    }
}

h5 {
  font-family: var(--font-primary);
  font-size: var(--spacer-oneandhalf);
  margin: var(--spacer-one) 0;
  font-weight: var(--font-medium);
}

h6 {
  font-family: var(--font-primary);
  font-size: var(--spacer-oneandquarter);
  margin: var(--spacer-half) 0;
  font-weight: var(--font-light);

}

::selection {
  background-color: var(--color-yellow);
}

a {
  text-decoration: none;
  color: var(--color-blue);

  &:hover {
    text-decoration: underline;
  }
}

 figcaption {
   margin: var(--spacer-one) 0;
   text-align: left;
   font-size: var(--spacer-one);
   font-family: var(--font-primary);
   font-weight: 300;
   color: var(--color-gray-900);
 }
 
 p {
  font-size: var(--spacer-oneandquarter);
  line-height: 1.5;
  font-weight: var(--font-light);
  font-family: var(--font-secondary);
  margin: var(--spacer-one) 0 var(--spacer-one) 0;
  
  @include media(medium) {
      font-size: var(--spacer-oneandhalf);
  }

  @include media(bigass) {
    font-size: var(--spacer-two);
  }
 }

article {
  .subheading {
      font-weight: 300;
      line-height: 1.5;
      margin: var(--spacer-one) 0 ;
      color: var(--color-gray-900);

      @include media(small) {
          font-size: var(--spacer-two);
          margin: var(--spacer-two) 0 var(--spacer-two) 0;
        }
    }

    p {
      font-size: var(--spacer-oneandquarter);
      line-height: var(--spacer-two);
      font-weight: var(--font-light);
      font-family: var(--font-primary);

      &:last-child {
        margin-bottom: var(--spacer-five);
      }
    }

    h3 {
      margin-bottom: 0;
      
      @include media(small) {
        margin-top: var(--spacer-four);
      }
    }
}

