body, p, h2 {
  font-family: var(--font-secondary);
  color: var(--color-black);
}

h1, h3, h4, h5 {
  font-family: var(--font-primary);
  font-weight: 500;
}

h2 {
  font-size: var(--spacer-twoandquarter);
  line-height: var(--spacer-three);
  font-weight: 400;
  margin: var(--spacer-twoandquarter) 0 0 0;
  
}

h3 {
  font-size: var(--spacer-two);
  margin: 0 0 var(--spacer-oneandhalf) 0;
  letter-spacing: var(--fonts-letter-spacing-4);
}

h4 {
  font-family: var(--font-primary);
  font-size: var(--spacer-oneandhalf);
  margin: var(--spacer-oneandhalf) 0 var(--spacer-one) 0;
  letter-spacing: var(--fonts-letter-spacing-3);
}

h5 {
  font-family: var(--font-primary);
  font-size: var(--spacer-one);
  margin: var(--spacer-one) 0;
  letter-spacing: var(--fonts-letter-spacing-3);
}

::selection {
  background-color: var(--color-yellow);
}

a {
  display: block;

  &:hover {
    text-decoration: underline;
  }
}