.no-list {
    list-style-type: none;
    text-indent: var(--spacer-zero);
    padding: var(--spacer-zero);
    margin: var(--spacer-zero);
}

.logo {
    display: block;
    width: var(--logo-width);
}

figure {
    margin: var(--spacer-two) 0 var(--spacer-two) 0;
}

.fancy {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 var(--color-yellow);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: var(--spacer-quarter);

    &:hover {
        box-shadow: inset 0 32px 0 0 var(--color-yellow);
    }
}
