$font: (
    "primary": "'DM Sans', Helvetica, Calibri, Arial, sans-serif;",
    "secondary": "'DM Sans', Helvetica, Calibri, Arial, sans-serif;",
    "letter-spacing-4": "-0.04rem;",
    "letter-spacing-3": "-0.03rem;",
    "medium": "500",
    "normal": "400",
    "light": "300"
);

$colors: (
    "yellow-dark": "#FFD000;",
    "yellow": "#FFE100;",
    "yellow-lighter": "#FFE700;",
    "yellow-light": "#FFF122;",
    "indigo": "#E4F3F1;",
    "turquoise": "#32E2C3;",
    "turquoise-gray": "#A8BAB7;",
    "turquoise-dark": "#0D7264;",
    "blue": '#0057A8;',
    "black": "#171921;",
    "white": "#ffffff;",
    "gray-100":'#F4F4F2;',
    "gray-600":'#767575;',
    "gray-900":'#515151;',
    "gray-950":'#3A3636;',
    )!default;
    
$spacer: 1rem;
$spacers: (
    "zero" : 0,
    "quarter": $spacer * .25,
    "half": $spacer * .5,
    "threequarter": $spacer * .75,
    "one": $spacer,
    "oneandquarter": $spacer * 1.25,
    "oneandhalf": $spacer * 1.5,
    "oneandthreequarter": $spacer * 1.75,
    "two": $spacer * 2,
    "twoandquarter": $spacer * 2.25,
    "twoandhalf": $spacer * 2.5,
    "twoandthreequarter": $spacer * 2.75,
    "three": $spacer * 3,
    "threeandhalf": $spacer * 3.5,
    "four": $spacer * 4,
    "five": $spacer * 5,
    "six": $spacer * 6,
    "seven": $spacer * 7,
    "eight": $spacer * 8,
    "nine": $spacer * 9,
    "ten": $spacer * 10
) !default;

$breakpoints: (
    small: 767px,
    medium: 900px,
    big: 1200px,
    bigger: 1440px,
    biggest: 1920px,
    bigass: 2400px
) !default;