---

---

<footer>
    <section class="box">
        <div class="inner">
            <div class="contact">
            <h4>
                Contact
            </h4>
            <ul class="social no-list">
                <li><a class="fancy" href="https://www.linkedin.com/in/manaj">Linkedin</a></li>
                <li><a class="fancy" href="https://www.instagram.com/m.chakrt">Instagram</a></li>
                <li><a class="fancy" href="https://github.com/manaj">Github</a></li>
                <li><a class="fancy" href="mailto:manajatchakrtdotcom">Email</a></li>
            </ul>
        </div>
        <div class="credits">
            <h4>
                Credits
            </h4>
            <div class="lists">
                <div>
                    <h5>Fonts used</h5>
                    <ul class="no-list">
                        <li><a class="fancy" href="https://fonts.google.com/">Google fonts  </a></li>
                        <li><a class="fancy" href="https://fonts.google.com/specimen/DM+Sans">DM Sans</a></li>
                        <li><a class="fancy" href="https://fonts.google.com/specimen/Urbanist">Urbanist</a></li>
                    </ul>
                </div>
               <div>
                 <h5>CMS used</h5>
                <ul class="no-list">
                    <li><a class="fancy" href="https://astro.build/">Astro.build</a></li>
                </ul>
               </div>
                
            </div>
        </div>
        </div>
	</section>
</footer>