---

---

<footer class="box">
    <section class="inner">
        
        <div class="contact">
            <h4>
                Contact
            </h4>
            <ul class="social no-list">
                <li><a href="https://www.linkedin.com/in/manaj/">Linkedin</a></li>
                <li><a href="https://www.instagram.com/manaj.chakrobarti/">Instagram</a></li>
                <li><a href="https://github.com/manaj">Github</a></li>
                <li><a href="mailto:manaj@chakrt.com">Email</a></li>
            </ul>
        </div>
        <div class="credits">
            <h4>
                Credits
            </h4>
            <div class="lists">
                <div>
                    <h5>Fonts used</h5>
                    <ul class="no-list">
                        <li><a href="https://fonts.google.com/">Google fonts  </a></li>
                        <li><a href="https://fonts.google.com/specimen/DM+Sans">DM Sans</a></li>
                        <li><a href="https://fonts.google.com/specimen/Urbanist">Urbanist</a></li>
                    </ul>
                </div>
                <dl>
                    <dt>CMS Used </dt>
                    <dd><a href="https://astro.build/">Astro.build</a></dd>
                </dl>
            </div>
        </div>
        
	</section>
</footer>