---
import PageLayout from "../../layouts/default.astro";
const title = "NewsCred DAM Mobile Design - Portfolio of Manaj Chakrobarti";
const bodyClass = "works";
import "../../styles/workspages.scss";
---

<PageLayout title={title} bodyClass={bodyClass}>
	<main class="box workspage">
		<header class="inner section-header">
			<img
				src="/images/works/nc-dam-mobile-view/mobile.png"
				alt="NewsCred DAM Mobile Design"
			/>
		</header>
		<section class="inner">
			<nav class="article-navigation">
				
			</nav>

			<article class="article">
				<h1>NewsCred DAM Mobile</h1>
				<h2 class="subheading">
					Created a mobile version of NewsCred’s Library as a personal
					project.
				</h2>
				<h3 id="overview">Overview</h3>
				<p>
					In this personal project, I developed a mobile version of
					NewsCred's Library. Without altering any frontend code, I
					wrote SCSS to ensure the library could be viewed and accessed
					on the go.
				</p>
			</article>
		</section>
	</main>
</PageLayout>" >
