---
import PageLayout from "../../layouts/default.astro";
const title = "Optimizely CMS Marketing website redesign exploration ";
const bodyClass = "works";
import "../../styles/workspages.scss";
---

<PageLayout title={title} bodyClass={bodyClass}>
	<main class="box workspage">
		<header class="inner section-header">
			<img
				src="/images/works/opti-marketing-website/old-marketing-website.png"
				alt="Old marketing website of the Optimizely CMS "
			/>
		</header>
		<section class="inner">
			<nav class="article-navigation">
				<ul class="no-list">
					<li><a href="#overview">Overview</a></li>
					<li><a href="#process">Process</a></li>
					<li><a href="#design">New Design</a></li>
				</ul>
			</nav>

			<article class="article">
				<h1>Optimizely CMS marketing website redesign</h1>
				<h2 class="subheading">
					The CMS marketing website needed a redesign, I explored some
					vareiteis of the design for this page. Normally I work on
					the product but as a experiment I wanted to design for the
					marketing website. Here I followed a process to get to a
					design and later created couple of designs.
				</h2>
				<h3 id="current">Current Situation</h3>
				<p>Following is the current design of the page </p>
				<figure>
					<img
						src="/images/works/opti-marketing-website/old-marketing-website.png"
						alt="Old marketing website of the Optimizely CMS "
					/>
					<figcaption>
						Old marketing website of the Optimizely CMS
					</figcaption>
				</figure>
			</article>
		</section>
	</main>
</PageLayout>" >
