---
import PageLayout from "../../layouts/default.astro";
const title =
	"Digital asset management home page redesign - Portfolio of Manaj Chakrobarti";
const bodyClass = "works";
import "../../styles/workspages.scss";
---

<PageLayout title={title} bodyClass={bodyClass}>
	<main class="box workspage">
		<header class="inner section-header">
			<img
				src="/images/works/opti-dam-home-page-redesign/home-page-redesign.png"
				alt="Home page design"
			/>
		</header>
		<section class="inner">
			<nav class="article-navigation">
				<ul class="no-list">
					<li><a href="#overview">Overview</a></li>
					<li><a href="#roles-and-process">Role & process</a></li>
					<li><a href="#research">Research</a></li>
					<li><a href="#solution">Solution</a></li>
				</ul>
			</nav>

			<article class="article">
				<h1>Digital asset management home page redesign</h1>
				<h2 class="subheading">
					We wanted to design a fresh new home page where people can
					find the content they need more easily, visually it should
					be more polished yet the page should look familiar. Also,
					create a solid foundation for future improvements.
				</h2>
				<h3 id="overview">Overview</h3>
				<p>
					Users struggle to easily find the assets they want to use,
					moreover they want to see the folder’s content without
					opening it. Sometimes they want to search and find assets to
					use on and off platform.
				</p>
				<figure>
					<img
						src="/images/works/opti-dam-home-page-redesign/old-home-page.png"
						alt="Image of old home page"
					/>
					<figcaption>
						Old home page, which is a flat view of assets uploded
					</figcaption>
				</figure>
				<p>
					Our DAM (Digital Assets Management) users are increasing,
					navigating through folders become a pain point for them
					because we were showing a flat structure and default sorting
					was based on creation date. More people making assets force
					the folder to go deep in the page.
				</p>
				<p>
					Finally, we needed a wow factor for the marketing team’s
					demos, and pave the way for future improvements of the
					product.
				</p>

				<h3 id="roles-and-process">Roles & Process</h3>
				<p>
					Like previous work, I lead the design effort for the DAM
					team. We are an agile team consisting of 4/5 developers, one
					product manager, and one designer.
				</p>
				<p>
					In our organization, all designers meet weekly to discuss
					design problems. We have a couple of small teams for each
					product area, all product manager and designer meet weekly
					to discuss dependency or review of new features.
				</p>
				<h3 id="research">Research</h3>
				<p>
					We looked into the various competitor’s products, and some
					b2c applications. Most importantly we talked to some of our
					users about how they want to see the product in the future.
					Most of these meetings were conducted by an account manager
					along with a product manager, and in some cases included
					myself.
				</p>
				<p>
					Some of the features e.g. folder preview were long-wanted as
					I said earlier. Additionally our assets cards were old and
					we needed a way to make that better.
				</p>
				<h3 id="solution">Solution</h3>
				<p>
					When we came to this phage we decided to update our page to
					a category-based structure rather than a flat one. We hoped
					all types of assets will be discoverable. On the other hand
					we wanted to see if we can improve our card design. So we
					started with that.
				</p>

				<p>
					First, we run some preference tests in usabilityhub.com for
					some of the small things like our card, icon placement,
					folder preview, image card, etc. After around 9 tests we
					could get an idea about what our cards might look like.
				</p>
				<figure>
					<img
						src="/images/works/opti-dam-home-page-redesign/preference-test.png"
						alt="Image of the screenshot of usabilityhub.com tests"
					/>
					<figcaption>Screenshot of usabilityhub tests</figcaption>
				</figure>
				<p>
					Along the way, we created some screens as how we thought our
					categorical view might look like. We finalized those views
					using those winning card designs in the preference test. Now
					the next step would be to test the layouts which is using
					the new cards.
				</p>

				<p>
					We first tested folder preview since we wanted to make this
					right, and since some users wanted to have this feature, it
					would be nice to test among them.
				</p>
				<figure>
					<img
						src="/images/works/opti-dam-home-page-redesign/folder-test.png"
						alt="Image of folder preference tests"
					/>
					<figcaption>Folder Preference Test</figcaption>
				</figure>
				<p>
					We couldn't use usabilityhub for that as we were not sure if
					our users wants to go to another website and input their
					openion. To address this, we explored an alternative
					approach. Since we were already utilizing Gainsight for user
					messaging and obtaining user information, leveraging its
					capability to target specific user segments seemed
					appealing. However, a significant obstacle was Gainsight was
					not designed for that. Despite this limitation, we planned a
					workaround by repurposing its multiple-question survey to
					align with our needs.
				</p>
				<figure>
					<img
						src="/images/works/opti-dam-home-page-redesign/preference-test-Gainsight.png"
						alt="Image of Gainsight Test Editor"
					/>
					<figcaption>Gainsight Test Editor</figcaption>
				</figure>
				<p>
					Traditionally this software is used to test things like how
					happy users with our software. We made it such a way so it
					only has two options with image rather than five inputs of
					user happiness. Furthermore we used comments so users can
					tell us the reason of their choice.
				</p>
				<figure>
					<img
						src="/images/works/opti-dam-home-page-redesign/preference-test-in-software.png"
						alt="Image of Folder Preference Test in our website via Gainsight"
					/>
					<figcaption>
						Folder Preference Test in our website via Gainsight
					</figcaption>
				</figure>

				<p>
					We were delighted when we saw users are jumping to answer
					our questions, they commented about their selection, they
					asked us to implement features we are showing here, as soon
					as possible. I think this was the biggest win in this whole
					process to let our users know that we are thinking about
					making their life a bit better.
				</p>

				<p>
					The test had three parts. We wanted to see, how they like
					between two folder views, how they would like the search to
					behave and display search results, and finally wanted to
					ensure how the asset card should look like.
				</p>
				<figure>
					<img
						src="/images/works/opti-dam-home-page-redesign/preference-test-Gainsight-analytics.png"
						alt="Image of Engaement performance data"
					/>
					<figcaption>Engaement performance data</figcaption>
				</figure>

				<p>
					When we get back results we were surprised to find out one
					answer. It’s about folder preview, the one we felt is old
					school, not industry-standard that one got the most votes so
					we obeyed their choice and implement that. Between the other
					two, one was expected. And another proved our previous
					assumption via usabilityhub.But we felt good to get feedback
					from our software users.
				</p>

				<p>Finally we have a design for MVP.</p>
				<figure>
					<img
						src="/images/works/opti-dam-home-page-redesign/final-design.png"
						alt="Image of DAM home page final design"
					/>
					<figcaption>Final Design</figcaption>
				</figure>
			</article>
		</section>
	</main>
</PageLayout>
