---
import PageLayout from "../../layouts/default.astro";
const title =
	"Digital asset management home page redesign - Portfolio of Manaj Chakrobarti";
const bodyClass = "works";
import "../../styles/workspages.scss";
---

<PageLayout title={title} bodyClass={bodyClass}>
	<main class="box workspage">
		<header class="inner section-header">
			<img
				src="/images/works/opti-dam-home-page-redesign/home-page-redesign.png"
				alt="Home page design"
			/>
		</header>
		<section class="inner">
			<nav class="article-navigation">
				<ul class="no-list">
					<li><a href="#overview">Overview</a></li>
					<li><a href="#roles-and-process">Role & process</a></li>
					<li><a href="#research">Research</a></li>
					<li><a href="#solution">Solution</a></li>
					<li><a href="#measure">Measure</a></li>
				</ul>
			</nav>

			<article class="article">
				<h1>Digital asset management home page redesign</h1>
				<h2 class="subheading">
					We wanted to design a fresh new home page where people can
					find the content they need more easily, visually it should
					be more polished yet the page should look familiar.
					Additionally, create a solid foundation for future
					improvements.
				</h2>
				<h3 id="overview">Overview</h3>
				<p>
					Users struggle to easily find the assets they want to use,
					moreover they want to see the folder’s content without
					opening it. Sometimes they want to search and find assets to
					use on and off platform.
				</p>
				<figure>
					<img
						src="/images/works/opti-dam-home-page-redesign/old-home-page.png"
						alt="Image of old home page"
					/>
					<figcaption>
						Old home page, which is a flat view of assets uploded
					</figcaption>
				</figure>
				<p>
					Our DAM (Digital Assets Management) users are increasing,
					navigating through folders become a pain point for them
					because we were showing a flat structure and default sorting
					was based on creation date. More people making assets force
					the folder to go deep in the page.
				</p>
				<figure>
					<img
						src="/images/works/opti-dam-list-view/nc-dam-list-view-old.png"
						alt="Image of old home page"
					/>
					<figcaption>Old home page, List View</figcaption>
				</figure>
				<p>
					Finally, we needed a wow factor for the marketing team’s
					demos, and pave the way for future improvements of the
					product.
				</p>

				<h3 id="roles-and-process">Roles & Process</h3>
				<p>
					Like previous work, I lead the design effort for the DAM
					team. We are an agile team consisting of 4/5 developers, one
					product manager, and one designer.
				</p>
				<p>
					In our organization, all designers meet weekly to discuss
					design problems. We have a couple of small teams for each
					product area, all product manager and designer meet weekly
					to discuss dependency or review of new features.
				</p>
				<h3 id="research">Research</h3>
				<p>
					We looked into the various competitor’s products, and some
					B2C applications. Most importantly we interviewed some of
					our users about how they want to see the product in the
					future. Most of these meetings were conducted by an account
					manager along with a product manager, and in some cases
					included myself.
				</p>
				<figure>
					<img
						src="/images/works/opti-dam-home-page-redesign/research.png"
						alt="Image of old home page"
					/>
					<figcaption>Some welknown DAM home pages</figcaption>
				</figure>
				<p>
					Some of the features e.g. folder preview were long-wanted.
					Additionally our assets cards were old and we needed a way
					to make those better.
				</p>
				<h3 id="solution">Solution</h3>
				<p>
					Our hypothesis was to create a category based home page
					along with a bigger display for images. We wanted to test
					it. Since it was a B2B software there weren't enough users
					to run A/B tests and most of the users are busy executives,
					so we wanted to test the hypothesis without disturbing them.
				</p>

				<p>
					We tried a preference test. It has some drawbacks compared
					to an A/B test, but we chose it because we needed early
					feedback. For preference tests, we used a web-based tool
					called Lyssna [formally UsabilityHub]. It lets you hire
					people for tests based on different demographics. We tested
					following items
				</p>
				<ul>
					<li>Folder view</li>
					<li>Card hover between two designs</li>
					<li>Image display</li>
					<li>Badge Style</li>
					<li>Badge or Logo</li>
				</ul>
				<figure>
					<img
						src="/images/works/opti-dam-home-page-redesign/lyssna.png"
						alt="Image of the screenshot of usabilityhub.com tests"
					/>
					<figcaption>Screenshot of Lyssna tests</figcaption>
				</figure>
				<p>
					Furthermore, we had the page designs ready. We added the
					necessary parts for the test and kept everything else the
					same to make sure our data stayed clean.
				</p>

				<p>
					We tried a preference test. It has some drawbacks compared
					to an A/B test, but we chose it because we needed early
					feedback. For preference tests, we use a web-based tool
					called UsabilityHub. It's a service that provides a panel of
					different demographics to quickly validate our design. We
					tested all our small hypotheses, like card style and badge
					positioning.
				</p>

				<p>
					Now we needed to test the full page design. We chose a
					preference test again. Since it's hard for our users to go
					to UsabilityHub, we needed a way to do it in our software.
					Luckily, we found a way. We used a web app called Gainsight
					PX for the NPS survey. We decided to use the platform and
					modify the survey to fit our test.
				</p>
				<figure>
					<img
						src="/images/works/opti-dam-home-page-redesign/preference-test-in-software.png"
						alt="Image of Folder Preference Test in our website via Gainsight"
					/>
					<figcaption>
						Folder Preference Test in our website via Gainsight
					</figcaption>
				</figure>

				<p>
					We were delighted when we saw users are jumping to answer
					our questions, they commented about their selection, they
					asked us to implement features we are showing here, as soon
					as possible. I think this was the biggest win in this whole
					process to let our users know that we are thinking about
					making their life a bit better.
				</p>

				<p>
					The test had three parts.
					<ul>
						<li>Testing different folder view</li>
						<li>Test search result page</li>
						<li>Finally tested asset card designs</li>
					</ul>
				</p>
				<figure>
					<img
						src="/images/works/opti-dam-home-page-redesign/preference-test-Gainsight-analytics.png"
						alt="Image of Engaement performance data"
					/>
					<figcaption>Engaement performance data</figcaption>
				</figure>

				<p>
					When we get back results we were surprised to find out one
					answer. It’s about folder preview, the one we felt is old
					school, not industry-standard that one got the most votes so
					we obeyed their choice and implement that.
				</p>
				<p>
					Between the other two, one was expected. And another proved
					our previous assumption via usabilityhub.But we felt good to
					get feedback from our users.
				</p>

				<p>Finally we have a design for MVP.</p>
				<figure>
					<img
						src="/images/works/opti-dam-home-page-redesign/final-design.png"
						alt="Image of DAM home page final design"
					/>
					<figcaption>Final Design - Category View</figcaption>
				</figure>

				<figure>
					<img
						src="/images/works/opti-dam-home-page-redesign/final-design-grid.png"
						alt="Image of DAM home page final design"
					/>
					<figcaption>Final Design - Grid View</figcaption>
				</figure>

				<figure>
					<img
						src="/images/works/opti-dam-list-view/opti-dam-list-view.png"
						alt="Image of DAM home page final design"
					/>
					<figcaption>Final Design - List View</figcaption>
				</figure>

				<h3 id="measure">Measure</h3>
				<p>
					Our users use of the DAM raise significantly, here is a
					screenshot of the measure from our analytics software Pendo
				</p>
				<figure>
					<img
						src="/images/works/opti-dam-home-page-redesign/pendo.png"
						alt="Pendo"
					/>
					<figcaption>Screenshot from Pendo</figcaption>
				</figure>
			</article>
		</section>
	</main>
</PageLayout>
