---
import PageLayout from "../../layouts/default.astro";
const title = "DAM inner page exploration - Portfolio of Manaj Chakrobarti";
const bodyClass = "works";
import "../../styles/workspages.scss";
---

<PageLayout title={title} bodyClass={bodyClass}>
	<main class="box workspage">
		<header class="inner section-header">
			<img
				src="/images/works/opti-library-innerpage-exploration/inner_page_design.png"
				alt="Optimizely product recommendation redesign"
			/>
		</header>
		<section class="inner">
			<nav class="article-navigation">
				<ul class="no-list">
					<li><a href="#overview">Overview</a></li>
					<li><a href="#current">Current Screenshot</a></li>
					<li><a href="#some-images">New Design</a></li>
				</ul>
			</nav>

			<article class="article">
				<h1>DAM Asset Details Design Exploration</h1>
				<h2 class="subheading">
					The DAM asset pages were scattered, with separate pages for
					previews and versions. One asset could have multiple
					versions, making it hard for veteran users to remember and
					requiring training for new users. In this project, I aimed
					to merge everything into a single location. This was an experiment. Haven't tested with users yet.
				
				</h2>
				<h3 id="overview">Overview</h3>
				<p>
					Our library features a large preview for individual assets
					and a separate area for updating asset versions. In this
					personal project, I aimed to merge both functionalities into
					a single, cohesive interface.
				</p>
				<h3 id="current">Current Situation</h3>
				<figure>
					<img
						src="/images/works/opti-library-innerpage-exploration/current.png"
						alt="Innerpage - Current Screenshot"
					/>
					<figcaption>Current Screenshot</figcaption>
				</figure>

				<figure>
					<img
						src="/images/works/opti-library-innerpage-exploration/versions_old.png"
						alt="Innerpage - Current Screenshot"
					/>
					<figcaption>
						Version management and history is on different modal
					</figcaption>
				</figure>

				<h3 id="some-images">Some ideas from Design</h3>

				<figure>
					<img
						src="/images/works/opti-library-innerpage-exploration/related.png"
						alt="Innerpage - Related Assets"
					/>
					<figcaption>Related Assets</figcaption>
				</figure>

				<figure>
					<img
						src="/images/works/opti-library-innerpage-exploration/versions.png"
						alt="Innerpage - Versions"
					/>
					<figcaption>Asset Versioning</figcaption>
				</figure>

				<figure>
					<img
						src="/images/works/opti-library-innerpage-exploration/analytics.png"
						alt="Innerpage - Asset Analytics"
					/>
					<figcaption>Asset Analytics</figcaption>
				</figure>

				<figure>
					<img
						src="/images/works/opti-library-innerpage-exploration/comment.png"
						alt="Innerpage - Asset Comments"
					/>
					<figcaption>Asset Comments</figcaption>
				</figure>
			</article>
		</section>
	</main>
</PageLayout>" >
