---
import PageLayout from '../../layouts/default.astro';
const title = 'Portfolio of Manaj Chakrobarti';
---

<PageLayout title={title}>
	<section class="cover">
		<h1><img src="/images/logo.svg" alt="Chakrt - Website of Manaj Chakrobarti"/></h1>
	</section>

	<section class="content">
		<h4>Rendition Design</h4>
            <img src="/images/rendition.png" alt="Project details - rendition"/>
            <p></p>
		</div>
	</section>
	

</PageLayout>