---
import PageLayout from "../../layouts/default.astro";
const title =
	"Optimizely product recommendation redesign - Portfolio of Manaj Chakrobarti";
const bodyClass = "works";
import "../../styles/shared-space.scss";
---

<PageLayout title={title} bodyClass={bodyClass}>
	<main class="box workspage" id="abstruct">
		<section class="inner">
			<nav class="article-navigation">
				<ul class="no-list">
					<li><a href="#abstruct">Abstruct</a></li>
					<li><a href="#overview">Overview</a></li>

					<li><a href="#team">Team & Role</a></li>
					<li><a href="#research">Research</a></li>
					<li><a href="#process">Process</a></li>
					<li><a href="#solution">Solution</a></li>
				</ul>
			</nav>

			<article class="article">
				<h1>The Experience of Shared Spaces in Student Life</h1>

				<h2 class="subheading">
					This project was part of my masters in experience design for
					the course understanding experiences. Here we understood
					language barriers for international students in notice
					boards and instruction signs in the university campus and
					designed solutions to overcome it.
				</h2>

				<figure>
					<img
						src="/images/works/shared-space/problem.png"
						alt="Problem"
					/>
					<figcaption>
						<span>Some pictures of the issue</span>
						<a
							target="_blank"
							href="/images/works/shared-space/problem.png"
							>Open image in new window</a
						>
					</figcaption>
				</figure>

				<h3 class="overview" id="overview">Overview</h3>
				<p>
					Our project objective was to understand the qualities of a
					particular shared space in the student life using the design
					process and propose design solutions.
				</p><p>
					After considering different spaces in Halmstad university
					student life, we decided to work with the Library due to our
					own hard experience navigating the library. We looked into
					documentation, conducted surveys and interviews to find
					students' pain-points at the Library. We find out a majority
					of issues are happening because international students don't
					understand instructions, signs and notices written in
					Swedish.
				</p><p>
					So we focused our next phase of research onto that language
					issue. We then figured it must be a universal problem for
					the university rather than only in the library. We widened
					our research, and found out our hypothesis is correct.
					Understanding content in the signboard, notice boards is a
					wider problem inside the university campus for international
					students.
				</p>
				<figure>
					<img
						src="/images/works/shared-space/story-board.png"
						alt="Problem"
					/>
					<figcaption>
						<span
							>Story board explaining our problem and solutions</span
						>
						<a
							target="_blank"
							href="/images/works/shared-space/story-board.png"
							>Open image in new window</a
						>
					</figcaption>
				</figure>
				<p>
					While proposing solutions, we kept in mind that the majority
					of the students are Swedish speaking, we didn’t want to make
					everything alien for them. However since international
					students were having a hard time navigating around campus we
					wanted to make a workaround for them. We proposed a new
					product as part of the university website for storing all
					notices and can be referred via URL or QR code and it will
					automatically translate using web services. Also to increase
					use of the web product we proposed some provocative posters
					for the swedish speaking students.
				</p>

				<h3 id="team">Team & roles</h3>
				<p>
					Our team (Team 2) consisted of 4 people. Before starting the
					project we met and decided on a working agreement and plan
					to discuss every week at least twice. However we haven’t
					defined any role to anyone since we didn’t know anyone
					better. We figured it would be clear later, and it did, we
					found Ambika is good with talking to random people, Chelsea
					has an eye for research, Jay was a technical storehouse and
					I, Manaj has experience with prototyping and project
					management.
				</p>

				<h3 id="research">Research</h3>
				<h5>First stage</h5>
				<p>
					Our research happened in two stages, at the begining we used
					a template to figure out which methods to use. At this point
					we were still working to understand and improve library
					onboarding for the international students.
				</p>
				<figure>
					<img
						src="/images/works/shared-space/miro.png"
						alt="Problem"
					/>
					<figcaption>
						<span>Research Plan</span>
						<a
							target="_blank"
							href="/images/works/shared-space/miro.png"
							>Open image in new window</a
						>
					</figcaption>
				</figure>

				<p>
					Through different research methods we wanted to understand
					more about Library usage.
				</p>
				<dl>
					<dt>Observations</dt>
					<dd>
						We sit inside the library and watched how people work.
						We visited every floor of the Library to figure out
						services offered, how to use. We wrote everything down
						in the notebook. We realized most problem happens in the
						pringting section.
					</dd>
					<dt>Qualatitive Interview</dt>
					<dd>
						We interviewed students and library stuff to understand
						their pain-points. Almost all the students talked about
						language is a barrier to understand instructions. We
						found out even the keyboard layout is different than
						english keyboard.
					</dd>

					<dt>Customer Safari</dt>
					<dd>
						In this way we followed international and local students
						while they are performing various task including renting
						books, finding a seat, using printers, giving back books
						and booking a meeting room for themselves. While doing
						this, we recorded everything with a mobile phone.
					</dd>
					<dt>Survey</dt>
					<dd>
						We needed more data, so we send out a suvery to some
						university groups for international student, local
						students. We kept some open ended questions to get some
						qualatative input.
					</dd>
					<dt>Codes and Themes</dt>
					<dd>
						With all these data we converted the main ideas into
						codes, which we categorize based on themes. From these
						themes we came to know the underlying problem being
						understand Swedish language is the main barrier to use
						library services.
					</dd>
				</dl>

				<h5>Second stage</h5>
				<p>
					In this stage we decided to change our focus to Language
					usage inside the campus instead of only library. We used
					other methods as well as some previous method to understand
					how vast the language problem spreads.
				</p>
				<dl>
					<dt>Observations</dt>
					<dd>
						We walked around the campus and took pictures where we
						found a notice board or signboard or instruction. We
						collected some pictures for review. Where we found out
						not all of it in swedish but some does have english
						translation.
					</dd>
					<figure>
						<img
							src="/images/works/shared-space/pictures.png"
							alt="Problem"
						/>
						<figcaption>
							<span>Observations images inside campus</span>
							<a
								target="_blank"
								href="/images/works/shared-space/pictures.png"
								>Open image in new window</a
							>
						</figcaption>
					</figure>
					<dt>Qualatitive Interview</dt>
					<dd>
						This time our interview was semi-structured, we
						interviewd around 8 students, both local and
						international to dive deep into their experience
						navigating campus.
					</dd>
					<dt>Codes and Themes</dt>
					<dd>
						We trascripted all these interviews, and find codes
						inside. We found some recurring related codes. Which we
						grouped as themes or categories. We could make 4 buckets
						from all these codes. The themes are as following:
						<ol>
							<li>
								English translations for signs, notices, and
								instructions help eliminate language barriers.
							</li>
							<li>
								Community Supporting each other in Bridging
								cultural gaps
							</li>
							<li>
								Native people don't perceive language as a
								problem.
							</li>
							<li>University resources issues</li>
						</ol>
					</dd>
				</dl>

				<h3 id="process">Process</h3>
				<p>
					We followed a double diamond design process. Which diverged
					when we decided to use the Library as shared space. We
					researched to know more about this issues. During this stage
					we converged to the Language barrier as the biggest
					pain-point.
				</p>
				<figure>
					<a
						target="_blank"
						href="/images/works/shared-space/double-diamond-chart.png"
					>
						<img
							src="/images/works/shared-space/double-diamond-chart.png"
							alt="Moodboard"
						/>
						<figcaption>Double Diamond Process</figcaption>
					</a>
				</figure>
				<p>
					We could stopped at our convergence, but design is about
					solving problem. If we did stop we would never know about
					the problem internationl students like some of us faces. So
					we diverged again and found more about the issues. While we
					converting our data to codes and categorize them into themes
					some solution starts to emerge.
				</p>

				<p>
					And in the end we converged into our solution by doing an
					ideation session. We had lots of great ideas but due to lack
					of resources, we zeroed our proposal to, raising awareness
					and proposing a new product. Which could also be linked or
					work independently.
				</p>

				<h3 id="solution">Solution</h3>

				<h5>Raising awareness posters</h5>
				<p>
					For raising awareness, we proposed some posters for notice
					board which will nudge students to think about the other
					people who doesn’t speak the native language. Our proposed
					stickers are as following, which we think will invoke the
					person that's putting up a poster for an event.
				</p>
				<ul class="no-list horizontal-list">
					<li>
						<figure>
							<a
								target="_blank"
								href="/images/works/shared-space/poster1.jpg"
							>
								<img
									src="/images/works/shared-space/Posters1_thumb.jpg"
									alt="Posters using meme"
								/>
							</a>
							<figcaption>Posters using meme</figcaption>
						</figure>
						<p>
							Used meme to provoke Swedish speaking people to think about other
							language speaking students
						</p>
					</li>

					<li>
						<figure>
							<a
								target="_blank"
								href="/images/works/shared-space/poster2.jpg"
							>
								<img
									src="/images/works/shared-space/Posters2_thumb.jpg"
									alt="Colorful posters<"
								/>
							</a>
							<figcaption>Colorful posters</figcaption>
						</figure>
						<p>
							Used more colorful design to catch the eye of the
							person and provoke them to think about other
							language speaking students
						</p>
					</li>
				</ul>
				<h5>Web application with translation support</h5>
				<p>
					On the other hand we proposed a new service or product
					called notice board, which is a community run discussion
					board and can be a part of the university website, has
					features like upvote, downvote, share and commenting to make
					it more social as well as being a digital product has basic
					searchability and convenience of checking it by mobile. Also
					its cost effective as well since there are a lot of free
					solutions available online example bbpress. Following is the
					proposed MVP designs for the notice board app.
				</p>
				<figure>
					<a
						target="_blank"
						href="/images/works/shared-space/web-app.png"
					>
						<img
							src="/images/works/shared-space/web-app.png"
							alt="Web APP"
						/>
						<figcaption>Web App</figcaption>
					</a>
				</figure>
				<p>
					<a
						href="https://www.figma.com/proto/5q3iCeIUfPrrpT87TQyCzv/design?page-id=0%3A1&node-id=3-8&p=f&viewport=-226%2C116%2C0.07&t=HTwIEORWwWN0cXq4-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=3%3A8"
						>Checkout the clickable prototype</a
					>
				</p>
			</article>
		</section>
	</main>
</PageLayout>
