---
import PageLayout from "../../layouts/default.astro";
const title =
	"Optimizely product recommendation redesign - Portfolio of Manaj Chakrobarti";
const bodyClass = "works";
import "../../styles/shared-space.scss";
---

<PageLayout title={title} bodyClass={bodyClass}>
	<main class="box workspage">
		<section class="inner">
			<nav class="article-navigation">
				<ul class="no-list">
					<li><a href="#overview">Overview</a></li>
					<li><a href="#team">Team & Role</a></li>
					<li><a href="#process">Process</a></li>
					<li><a href="#solution">Solution</a></li>
				</ul>
			</nav>

			<article class="article">
				<h1>The Experience of Shared Spaces in Student Life</h1>

				<h3 class="first-overview">Overview</h3>
				<h2 class="subheading">
					This project was part of my masters in experience design for
					the course understanding experiences. It (project) was about
					finding a shared space inside university campus to
					understand how people usage this space and to propose ways
					to improve the sharing experience.
				</h2>

				<figure>
					<a
						target="_blank"
						href="/images/works/shared-space/mood-board.png"
					>
						<img
							src="/images/works/shared-space/mood-board.png"
							alt="Moodboard"
						/>
						<figcaption>Moodboard</figcaption>
					</a>
				</figure>
				<p>
					These improvement could be in terms of usability or finding
					out frictions that hinder the purpose of that space. We took
					some time discovering some spaces in our campus. We realized
					the Library could be the perfect space, it's an important
					establishment of the university, has a decent user base and
					enhancing experience in any way would help a lot of
					students. And being international students ourselves we
					choose to discover onboarding issues of international
					pupils, because we were empathetic to the cause.
				</p>
				<p>
					However after extensive research we figured most of the pain
					points are happening because of the language barrier between
					Swedish and other languages speaking people. While a lot of
					impressive work has been done to include English speaking
					people however the if we can raise awareness then most
					notice board and signboard might include a english version.
					While doing that we didn’t want Swedish speaking people to
					feel alienated so we proposed a digital platform for people
					to share public events which we called “Notice board”
				</p>

				<h3 id="#team">Team & Role</h3>
				<p>
					Our team (Team 2) had 4 people in it. Before starting the
					project we met and decided on a working agreement and plan
					to discuss every week at least twice. However we haven’t
					defined any role to anyone since we didn’t know anyone
					better. We figured it would be clear later, and it did, we
					found Ambika is good with talking to random people, Chelsea
					has an eye for research, Jay was a technical storehouse and
					I, Manaj has experience with prototyping and project
					management.
				</p>

				<h3 id="discover">Research</h3>
				<p>
					Our research happened in two stages, in the first stage when
					we wanted to find out user pain points while using the
					Library. We used a template to figure out what type of
					research is needed and we defined our goals and methods. We
					agreed to do observations, semi-structured interviews,
					structured interviews like surveys, customer safari and
					finally literature review.
				</p>
				<iframe
					width="100%"
					height="600"
					src="https://miro.com/app/live-embed/uXjVJHD-Eto=/?focusWidget=3458764640672570166&embedMode=view_only_without_ui&embedId=909831734628"
					frameborder="0"
					scrolling="no"
					allow="fullscreen; clipboard-read; clipboard-write"
					allowfullscreen></iframe>
				<p>
					When we were able to point our finger to a specific root
					cause, which is language, we went back to the drawing board,
					did some more observations for finding out the vastness of
					the problem and some more interviews. This time our
					interviews were more open ended and unstructured.
				</p>
				<iframe
					style="border: 1px solid rgba(0, 0, 0, 0.1);"
					width="100%"
					height="600"
					src="https://embed.figma.com/board/d8lkSlDsPUc6cb0vjnrIU4/team-2?node-id=126-16&embed-host=share"
					allowfullscreen
				>
				</iframe>

				<h3 id="process">Process</h3>
				<p>
					We followed a double diamond design process. At the
					beginning we diverged to find our space and related issues,
					so at this stage we tried to find all the issues that
					international students are getting stuck in. We did this via
					literature review, observation, send out a survey to some
					student groups, interviewed international students and did
					some customer safari to figure out issues ourselves.
				</p>
				<figure>
					<a
						target="_blank"
						href="/images/works/shared-space/double-diamond-chart.png"
					>
						<img
							src="/images/works/shared-space/double-diamond-chart.png"
							alt="Moodboard"
						/>
						<figcaption>Double Diamond Process</figcaption>
					</a>
				</figure>
				<p>
					Following that our convergence started to happen, we could
					understand the language barrier is the biggest problem in
					library. We found that out from people we interviewed, from
					our observation we saw most of the people coming to the
					helpdesk in library is because they dont understand how the
					printers work or finding a book, since all the instructions
					were in Swedish, even the keyboard is a swedish one where
					putting a @ symbol requires pressing a completely different
					sets of button in a computer keyboard.
				</p>
				<p>
					With figuring out the problem space, now we wanted to
					diverge again to see how deep the problems are. We did some
					more observations around the campus, collected photos of the
					spaces that are completely in Swedish, along with that we
					also found good examples of signboards that has a
					translation next to it. While we are looking at this big
					picture, a solution started to emerge in front of us.
				</p>

				<p>
					And in the end we converged into our solution by doing an
					ideation session. We had lots of great ideas but due to lack
					of resources, we zeroed our proposal to, raising awareness
					and proposing a new product. Which could also be linked or
					work independently.
				</p>

				<h3 id="solution">Solution</h3>
				<p>
					For raising awareness, we proposed some posters for notice
					board which will nudge students to think about the other
					people who doesn’t speak the native language. Our proposed
					stickers are as following, which we think will invoke the
					person that's putting up a poster for an event.
				</p>
				<figure>
					<a
						target="_blank"
						href="/images/works/shared-space/sticker-ideas.png"
					>
						<img
							src="/images/works/shared-space/sticker-ideas.png"
							alt="Moodboard"
						/>
						<figcaption>Some sticker ideas</figcaption>
					</a>
				</figure>
				<p>
					On the other hand we proposed a new service or product
					called notice board, which is a community run discussion
					board and can be a part of the university website, has
					features like upvote, downvote, share and commenting to make
					it more social as well as being a digital product has basic
					searchability and convenience of checking it by mobile. Also
					its cost effective as well since there are a lot of free
					solutions available online example bbpress. Following is the
					proposed MVP designs for the notice board app.
				</p>
				<figure>
					<a
						target="_blank"
						href="/images/works/shared-space/web-app.png"
					>
						<img
							src="/images/works/shared-space/web-app.png"
							alt="Moodboard"
						/>
						<figcaption>Web App</figcaption>
					</a>
				</figure>
			</article>
		</section>
	</main>
</PageLayout>
