---
import PageLayout from "../../layouts/default.astro";
const title =
	"Optimizely product recommendation redesign - Portfolio of Manaj Chakrobarti";
const bodyClass = "works";
import "../../styles/shared-space.scss";
---

<PageLayout title={title} bodyClass={bodyClass}>
	<main class="box workspage">
		<section class="inner">
			<nav class="article-navigation">
				<ul class="no-list">
					<li><a href="#overview">Overview</a></li>

					<li><a href="#team">Team & Role</a></li>
					<li><a href="#process">Process</a></li>
					<li><a href="#solution">Solution</a></li>
				</ul>
			</nav>

			<article class="article">
				<h1>The Experience of Shared Spaces in Student Life</h1>

				<h2 class="subheading">
					This project was part of my masters in experience design for
					the course understanding experiences. Here we understood
					language barriers for international students in notice
					boards and instruction signs in the university campus and
					designed solutions to overcome it.
				</h2>

				<figure>
					<img
						src="/images/works/shared-space/problem.png"
						alt="Problem"
					/>
					<figcaption>
						<span>Some pictures of the issue</span>
						<a
							target="_blank"
							href="/images/works/shared-space/problem.png"
							>Open image in new window</a
						>
					</figcaption>
				</figure>

				<h3 class="overview">Overview</h3>
				<p>
					Our project objective was to understand the qualities of a
					particular shared space in the student life using the design
					process and propose design solutions.
				</p><p>
					After considering different spaces in Halmstad university
					student life, we decided to work with the Library due to our
					own hard experience navigating the library. We looked into
					documentation, conducted surveys and interviews to find
					students' pain-points at the Library. We find out a majority
					of issues are happening because international students don't
					understand instructions, signs and notices written in
					Swedish.
				</p><p>
					So we focused our next phase of research onto that language
					issue. We then figured it must be a universal problem for
					the university rather than only in the library. We widened
					our research, and found out our hypothesis is correct.
					Understanding content in the signboard, notice boards is a
					wider problem inside the university campus for international
					students.
				</p>
				<figure>
					<img
						src="/images/works/shared-space/story-board.png"
						alt="Problem"
					/>
					<figcaption>
						<span>Story board explaining our problem and solutions</span>
						<a
							target="_blank"
							href="/images/works/shared-space/story-board.png"
							>Open image in new window</a
						>
					</figcaption>
				</figure>
				<p>
					While proposing solutions, we kept in mind that the majority
					of the students are Swedish speaking, we didn’t want to make
					everything alien for them. However since international
					students were having a hard time navigating around campus we
					wanted to make a workaround for them. We proposed a new
					product as part of the university website for storing all
					notices and can be referred via URL or QR code and it will
					automatically translate using web services. Also to increase
					use of the web product we proposed some provocative posters
					for the swedish speaking students.
				</p>

				<h3 id="#team">Team & roles</h3>
				<p>
					Our team (Team 2) consisted of 4 people. Before starting the
					project we met and decided on a working agreement and plan
					to discuss every week at least twice. However we haven’t
					defined any role to anyone since we didn’t know anyone
					better. We figured it would be clear later, and it did, we
					found Ambika is good with talking to random people, Chelsea
					has an eye for research, Jay was a technical storehouse and
					I, Manaj has experience with prototyping and project
					management.
				</p>

				<h3 id="discover">Research</h3>
				<p>
					Our research happened in two stages, in the first stage when
					we wanted to find out user pain points while using the
					Library. We used a template to figure out what type of
					research is needed and we defined our goals and methods. We
					agreed to do observations, semi-structured interviews,
					structured interviews like surveys, customer safari and
					finally literature review.
				</p>
				<iframe
					width="100%"
					height="600"
					src="https://miro.com/app/live-embed/uXjVJHD-Eto=/?focusWidget=3458764640672570166&embedMode=view_only_without_ui&embedId=909831734628"
					frameborder="0"
					scrolling="no"
					allow="fullscreen; clipboard-read; clipboard-write"
					allowfullscreen></iframe>
				<p>
					When we were able to point our finger to a specific root
					cause, which is language, we went back to the drawing board,
					did some more observations for finding out the vastness of
					the problem and some more interviews. This time our
					interviews were more open ended and unstructured.
				</p>
				<iframe
					style="border: 1px solid rgba(0, 0, 0, 0.1);"
					width="100%"
					height="600"
					src="https://embed.figma.com/board/d8lkSlDsPUc6cb0vjnrIU4/team-2?node-id=126-16&embed-host=share"
					allowfullscreen
				>
				</iframe>

				<h3 id="process">Process</h3>
				<p>
					We followed a double diamond design process. At the
					beginning we diverged to find our space and related issues,
					so at this stage we tried to find all the issues that
					international students are getting stuck in. We did this via
					literature review, observation, send out a survey to some
					student groups, interviewed international students and did
					some customer safari to figure out issues ourselves.
				</p>
				<figure>
					<a
						target="_blank"
						href="/images/works/shared-space/double-diamond-chart.png"
					>
						<img
							src="/images/works/shared-space/double-diamond-chart.png"
							alt="Moodboard"
						/>
						<figcaption>Double Diamond Process</figcaption>
					</a>
				</figure>
				<p>
					Following that our convergence started to happen, we could
					understand the language barrier is the biggest problem in
					library. We found that out from people we interviewed, from
					our observation we saw most of the people coming to the
					helpdesk in library is because they dont understand how the
					printers work or finding a book, since all the instructions
					were in Swedish, even the keyboard is a swedish one where
					putting a @ symbol requires pressing a completely different
					sets of button in a computer keyboard.
				</p>
				<p>
					With figuring out the problem space, now we wanted to
					diverge again to see how deep the problems are. We did some
					more observations around the campus, collected photos of the
					spaces that are completely in Swedish, along with that we
					also found good examples of signboards that has a
					translation next to it. While we are looking at this big
					picture, a solution started to emerge in front of us.
				</p>

				<p>
					And in the end we converged into our solution by doing an
					ideation session. We had lots of great ideas but due to lack
					of resources, we zeroed our proposal to, raising awareness
					and proposing a new product. Which could also be linked or
					work independently.
				</p>

				<h3 id="solution">Solution</h3>
				<p>
					For raising awareness, we proposed some posters for notice
					board which will nudge students to think about the other
					people who doesn’t speak the native language. Our proposed
					stickers are as following, which we think will invoke the
					person that's putting up a poster for an event.
				</p>
				<figure>
					<a
						target="_blank"
						href="/images/works/shared-space/sticker-ideas.png"
					>
						<img
							src="/images/works/shared-space/sticker-ideas.png"
							alt="Moodboard"
						/>
						<figcaption>Some sticker ideas</figcaption>
					</a>
				</figure>
				<p>
					On the other hand we proposed a new service or product
					called notice board, which is a community run discussion
					board and can be a part of the university website, has
					features like upvote, downvote, share and commenting to make
					it more social as well as being a digital product has basic
					searchability and convenience of checking it by mobile. Also
					its cost effective as well since there are a lot of free
					solutions available online example bbpress. Following is the
					proposed MVP designs for the notice board app.
				</p>
				<figure>
					<a
						target="_blank"
						href="/images/works/shared-space/web-app.png"
					>
						<img
							src="/images/works/shared-space/web-app.png"
							alt="Moodboard"
						/>
						<figcaption>Web App</figcaption>
					</a>
				</figure>
			</article>
		</section>
	</main>
</PageLayout>
