@charset "utf-8";

@import "css/reset";
@import 
"components/fonts",
"components/variables",
"components/mixins",
"components/root",
"components/type",
"components/grid",
"components/utility",
"components/header",
"components/footer"
;

.home {
    .hero {
        .intro {
            grid-column: span 12;
            padding: var(--spacer-four) 0;

            @include media(medium) {
                grid-column: 1 / 13;
                justify-self: end;
            }

            @include media(bigger) {
                grid-column: 5 / 13;
                justify-self: end;
            }
        }

        h1 {
            font-size: var(--spacer-twoandhalf);
            font-family: var(--font-primary);
            line-height: 1.38;
            font-weight: var(--font-medium);
            margin: 0;
            color: var(--color-black);
            letter-spacing: var(--font-letter-spacing-8);

            @include media(medium) {
                font-size: var(--spacer-twoandthreequarter);
            }

            @include media(bigger) {
                font-size: var(--spacer-twoandthreequarter);
            }

            @include media(biggest) {
                font-size: var(--spacer-three);
            }

            @include media(bigass) {
                font-size: var(--spacer-three);
            }
        }
    }

    .recent-works {
        h2 {
            border-bottom: 2px solid var(--color-gray-200);
            margin: 0;
            padding-bottom: var(--spacer-half);
            letter-spacing: var(--font-letter-spacing-8);
            font-weight: var(--font-medium);
            color: var(--color-gray-900);
            
        }

        li {
            padding: var(--spacer-two) 0;
            border-bottom: 1px solid var(--color-gray-200);

            &:last-child {
                border: 0
            }
        }

        .single {
            @extend .grid-holder;
        }

        h4,
        .text,
        .image {
            @extend .col-4;
        }

        h4,
        p {
            margin-top: 0;
        }

        h4 {
            font-size: var(--spacer-oneandhalf);
            letter-spacing: var(--font-letter-spacing-4);
            line-height: var(--spacer-two);
        }

        h4>a {
            color: var(--color-black);
        }

        p {
            font-size: var(--spacer-one);
            line-height: 2;
            margin-top: 3px;
        }

        a:hover {
            text-decoration: none;
            h4 {
                    text-decoration: underline;
                }
            p {
                color: var(--color-black);
            }
        }
        
    }

    .goto {
        color: var(--color-flu-green);

        img {
            color: var(--color-flu-green)
        }
    }
    

    .page-404 {
        padding: var(--spacer-three) 0;
    }
}