@charset "utf-8";

@import 
"components/fonts",
"components/variables",
"components/mixins",
"components/root",
"components/type",
"components/grid",
"components/utility",
"components/footer"
;

// .inner {
//     width: 90vw;
//     margin: 0 auto;
//     position: relative;
// }

.cover {
    background: linear-gradient(115.23deg, var(--color-yellow-dark) -32.83%, var(--color-yellow) 15.37%, var(--color-yellow-light) 69.24%, var(--color-yellow-lighter) 119.39%); 
    height: 15vh;
    min-height: var(--spacer-three);
    transition: all 5000;

    .logo {
        position: absolute;
        width: 50vw;
        transform: translateY(-50%);
        top: 45%;
        left: 0;
    }

    &.fix {
        background: var(--color-indigo);
        
    }
}

@include media(medium) {
    .cover {
        height: 95vh;

        .logo {
            position: absolute;
            top: 45%;
            width: 70vw;
            left: auto;
            right: 0;
            transform: translateY(-50%);
            transition: all;
        }
    }
}

.homepage {
    position: relative;
    background-color: var(--color-indigo);

    h2 {
        width: 100%;
        @include media(small) {
                width: 92%;
        }
    }

    .hero, .experience, .recent-works {
        margin-bottom: var(--spacer-three);
    }

    .experience p {
        margin: 0;
        letter-spacing: normal;
        width: 100%;
        @include media(small) {
            width: 80%;
        }
    }


}