@charset "utf-8";

@import "components/fonts",
"components/variables",
"components/mixins",
"components/root",
"components/type",
"components/grid",
"components/utility",
"components/footer";

body {
    background-color: var(--color-gray-100);
}

header {
    margin: var(--spacer-oneandhalf) 0 var(--spacer-oneandhalf) 0;
    background-color: var(--color-gray-100);

    @include media(small) { 
        margin: var(--spacer-three) 0 var(--spacer-two) 0;
    }
}

.workspage {
    min-height: 20vw;
    background-color: var(--color-gray-100);
    position: relative;

    section.inner {

        @include media(small) {
            display: grid;
            grid: auto-flow / 1fr 3fr;
            margin: var(--spacer-two) auto 0 auto;
        }
    }

    .article-navigation {
        @extend h5;
        display: none;

        @include media(small) {
            display: block;
            position: relative;
            font-weight: 400;
            margin-right: var(--spacer-oneandhalf);
        }

        
        li {
            padding: var(--spacer-half) 0;
        }

        ul {
            position: sticky;
            top: var(--spacer-five);
        }
    }   
}