---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Chakrt</title>
	</head>
	<body>
		<section>
<h1>Chakrt</h1>
<h5>Website of Manaj Chakrobarti</h5>
		<p>
			Manaj is an experienced and versatile product designer with an impressive career spanning 12 years. Currently, he finds himself working in a multinational company, leveraging his extensive expertise to create innovative and user-centric product designs. His journey in the design field has been diverse, having previously been a part of a startup where he faced and conquered the unique challenges that come with working in a dynamic and fast-paced environment. During his time at the startup, he wore multiple hats, transitioning seamlessly from a print designer to a software engineer before finally settling into his role as a product designer.

		</p>
		<p>
Throughout his career, Manaj has consistently worked in agile environments, allowing him to adapt quickly to changing project requirements and deliver results efficiently. With his wealth of experience and diverse skill set, Manaj is a seasoned professional who consistently delivers exceptional results in any challenging environment. His extensive background and understanding of various design disciplines, coupled with his ability to master design software and concepts over the years, make him an invaluable asset in creating cutting-edge product designs that truly resonate with users.

		</p>
		</section>
		
	</body>
</html>
<style>
	@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
	html, body {
		font-family: 'Poppins', helvetica, arial sans-serif;
		font-weight: 300;
		font-size: 1em;
		line-height: 1.7;
	}

	h1 {
		font-family: 'DM Serif Display', serif;
		font-size: 40px;
	}

	h5 {
		font-family: 'DM Serif Display', serif;
		font-size: 24px;
		margin: 16px 0;
	}

	
	section {
		width: 1040px;
		margin: 0 auto;
	}
</style>