---
import PageLayout from "../layouts/default.astro";
const title = "Portfolio of Manaj Chakrobarti";
const bodyClass = "home";
import "../styles/homepage.scss";
---

<PageLayout title={title} bodyClass={bodyClass}>
	<main class="box homepage">
		<section class="inner">
			<div class="hero">
				<div class="hi">Hi</div>
				<div class="intro">
					<h1>
						I am Manaj, a product designer with 10+ years of
						experience designing b2b SaaS product.
					</h1>
					<p>
						With the design thinking process in mind, using
						usability to validate, I create accessible and
						interactive prototypes for people to test. Then, I keep
						repeating until it's perfect.
					</p>
				</div>
			</div>

			<div class="recent-works">
				<h2>Recent Works</h2>
				<ul class="no-list">
					<li class="single">
						<div class="image">
							<a href="/works/home-page-redesign"
								><img
									src="images/home-page-redesign.png"
									alt="Project details - rendition"
								/></a
							>
						</div>
						<div class="text">
							<h4>DAM home page design</h4>
							<p>
								With the design thinking process in mind, using
								usability to validate, I create accessible and
								<a href="/works/home-page-redesign">See more</a>
							</p>
						</div>
					</li>
					<li class="single ltr">
						<div class="image">
							<a href="/works/home-page-redesign"
								><img
									src="images/self_service_widget.png"
									alt="Project details - rendition"
								/></a
							>
						</div>
						<div class="text">
							<h4>Product Recommendation suite</h4>
							<p>
								With the design thinking process in mind, using
								usability to validate, I create accessible and
								<a href="/works/home-page-redesign">See more</a>
							</p>
						</div>
					</li>
					<li class="single">
						<div class="image">
							<a href="/works/rendition"
								><img
									src="images/final.png"
									alt="Project details - rendition"
								/></a
							>
						</div>
						<div class="text">
							<h4>Rendition Design</h4>
							<p>
								With the design thinking process in mind, using
								usability to validate, I create accessible and
								<a href="/works/rendition">See more</a>
							</p>
						</div>
					</li>
					<li class="single ltr">
						<div class="image">
							<a href="/works/rendition"
								><img
									src="images/list_view.png"
									alt="Project details - rendition"
								/></a
							>
						</div>
						<div class="text">
							<h4>Asset library List View</h4>
							<p>
								With the design thinking process in mind, using
								usability to validate, I create accessible and
								<a href="/works/rendition">See more</a>
							</p>
						</div>
					</li>
					<li class="single">
						<div class="image">
							<a href="/works/design_system"
								><img
									src="images/design_system.png"
									alt="Design System"
								/></a
							>
						</div>
						<div class="text">
							<h4>Design System Contribution</h4>
							<p>
								With the design thinking process in mind, using
								usability to validate, I create accessible and
								<a href="/works/design_system">See more</a>
							</p>
						</div>
					</li>
					<li class="single ltr">
						<div class="image">
							<a href="/works/design_system"
								><img
									src="images/inner_page_design.png"
									alt="Design System"
								/></a
							>
						</div>
						<div class="text">
							<h4>DAM inner page exploration</h4>
							<p>
								With the design thinking process in mind, using
								usability to validate, I create accessible and
								<a href="/works/design_system">See more</a>
							</p>
						</div>
					</li>
					<li class="single ">
						<div class="image">
							<a href="/works/design_system"
								><img
									src="images/mobile.png"
									alt="Design System"
								/></a
							>
						</div>
						<div class="text">
							<h4>Mobile</h4>
							<p>
								With the design thinking process in mind, using
								usability to validate, I create accessible and
								<a href="/works/design_system">See more</a>
							</p>
						</div>
					</li>
				</ul>
			</div>
		</section>
	</main>
</PageLayout>
