---
import PageLayout from "../layouts/default.astro";
const title = "Portfolio of Manaj Chakrobarti";
const bodyClass = "home";
import "../styles/homepage.scss";
---

<PageLayout title={title} bodyClass={bodyClass}>
	<main class="box homepage">
		<section class="inner">
			<div class="hero">
				<div class="hi">Hi</div>
				<div class="intro">
					<h1>
						I am Manaj, a product designer with 10+ years of
						experience designing B2B SaaS product.
					</h1>
					<p>
						With the design thinking process in mind and validating
						by usability testing, I create accessible and
						interactive prototypes for users to test. I keep
						iterating the process until it solves the problem.
					</p>
				</div>
			</div>

			<div class="recent-works">
				<h2>Recent Works</h2>
				<ul class="no-list">
					<li class="single">
						<div class="image">
							<a href="/works/opti-product-recommendation-suite"
								><img
									src="/images/works/opti-product-recommendation-suite/self_service_widget.png"
									alt="Project details - rendition"
								/></a
							>
						</div>
						<div class="text">
							<h4>
								<a
									href="/works/opti-product-recommendation-suite"
								>
									Redesigning product recommendations software
									and enabling self-service widget management
								</a>
							</h4>
							<p>
								The challenge was to modernize the outdated
								Optimizely Recommendation software’s widget
								management part by improving its UX and
								usability. Also to transition it from a managed
								solution to a self-service platform while
								keeping the look and feel of larger
								organizations design system.

								<a
									href="/works/opti-product-recommendation-suite"
									>See more</a
								>
							</p>
						</div>
					</li>
					<li class="single">
						<div class="image">
							<a href="/works/nc-dam-rendition"
								><img
									src="/images/works/nc-dam-rendition/final.png"
									alt="Project details - rendition"
								/></a
							>
						</div>
						<div class="text">
							<h4>
								<a href="/works/nc-dam-rendition"
									>Rendition Design</a
								>
							</h4>
							<p>
								This is one of my favorite pieces of work.
								Although it's a small interaction, I believe it
								demonstrates how little things can influence
								people's minds.

								<a href="/works/nc-dam-rendition">See more</a>
							</p>
						</div>
					</li>
					<li class="single">
						<div class="image">
							<a href="/works/opti-dam-home-page-redesign"
								><img
									src="/images/works/opti-dam-home-page-redesign/home-page-redesign.png"
									alt="Homepage redesign"
								/></a
							>
						</div>
						<div class="text">
							<h4>
								<a href="/works/opti-dam-home-page-redesign">
									Redesigning digital asset management home
									page
								</a>
							</h4>
							<p>
								A refreshed homepage for assets, addressing
								longstanding issues and providing overdue
								improvements.

								<a href="/works/opti-dam-home-page-redesign"
									>See more</a
								>
							</p>
						</div>
					</li>

					<li class="single">
						<div class="image">
							<a href="/works/opti-design-systems">
								<img
									src="/images/works/opti-design-systems/design_system.png"
									alt="Optimizely Design System"
								/>
							</a>
						</div>
						<div class="text">
							<h4>
								<a href="/works/opti-design-systems"
									>Design System</a
								>
							</h4>
							<p>
								The challenge was to create a reference system
								for all designers, featuring a set of reusable
								design elements.

								<a href="/works/opti-design-systems">See more</a
								>
							</p>
						</div>
					</li>
					<li class="single">
						<div class="image">
							<a href="/works/opti-marketing-website">
								<img
									src="/images/works/opti-marketing-website/new_design_1.png"
									alt="Optimziely CMS new website"
								/>
							</a>
						</div>
						<div class="text">
							<h4>
								<a href="/works/opti-marketing-website"
									>Opti Marketing Website</a
								>
							</h4>
							<p>
								The CMS marketing website required a redesign,
								so I explored various design options for the
								page.

								<a href="/works/opti-marketing-website"
									>See more</a
								>
							</p>
						</div>
					</li>

					<li class="single">
						<div class="image">
							<a href="/works/opti-library-innerpage-exploration"
								><img
									src="/images/works/opti-library-innerpage-exploration/inner_page_design.png"
									alt="Opti Library inner page exploration"
								/></a
							>
						</div>
						<div class="text">
							<h4>
								<a
									href="/works/opti-library-innerpage-exploration"
								>
									DAM Asset Details Design Exploration
								</a>
							</h4>
							<p>
								The DAM asset pages were scattered, with
								separate pages for previews and versions. One
								asset could have multiple versions, making it
								hard for veteran users to remember and requiring
								training for new users. In this project, I aimed
								to merge everything into a single location.

								<a
									href="/works/opti-library-innerpage-exploration"
									>See more</a
								>
							</p>
						</div>
					</li>
					<li class="single">
						<div class="image">
							<a href="/works/nc-dam-mobile-view"
								><img
									src="/images/works/nc-dam-mobile-view/mobile.png"
									alt="NewsCred DAM Mobile Design"
								/></a
							>
						</div>
						<div class="text">
							<h4>
								<a href="/works/nc-dam-mobile-view"
									>Mobile design for Library</a
								></h4>
								<p>
									Created a mobile version of NewsCred’s
									Library as a personal project.

									<a href="/works/nc-dam-mobile-view"
										>See more</a
									>
								</p>
							</h4>
						</div>
					</li>
				</ul>
			</div>
		</section>
	</main>
</PageLayout>
