---
import PageLayout from "../layouts/default.astro";
const title = "Portfolio of Manaj Chakrobarti";
const bodyClass = "home";
import "../styles/homepage.scss";
---

<PageLayout title={title} bodyClass={bodyClass}>
	<main class="box homepage">
		<section class="inner">
			<div class="hero grid-holder">
				<div class="intro">
					<h1>
						Hello! I am Manaj, a product designer with 10+ years of
						experience designing B2B SaaS product.
					</h1>
				</div>
			</div>

			<div class="recent-works">
				<h2>Recent Works</h2>
				<ul class="no-list">
					<li>
						<a
							href="/works/opti-product-recommendation-suite"
							class="single"
						>
							<h4 class="title">
								Redesigning product recommendations software and
								enabling self-service widget management
							</h4>

							<div class="image">
								<img
									src="/images/works/opti-product-recommendation-suite/self_service_widget.png"
									alt="Project details - rendition"
								/>
							</div>
							<div class="text">
								<p>
									The challenge was to modernize the outdated
									Optimizely Recommendation software’s widget
									management part by improving its UX and
									usability. Also to transition it from a
									managed solution to a self-service platform
									while keeping the look and feel of larger
									organizations design system.
								</p>
							</div>
						</a>
					</li>
					<li>
						<a class="single" href="/works/nc-dam-rendition">
							<h4>
								Rendition Design
							</h4>
							<div class="image">
								<img
									src="/images/works/nc-dam-rendition/final.png"
									alt="Project details - rendition"
								/>
							</div>

							<div class="text">
								<p>
									This is one of my favorite pieces of work.
									Although it's a small interaction, I believe
									it demonstrates how little things can
									influence people's minds.
								</p>
							</div>
						</a>
					</li>
					<li>
						<a
							class="single"
							href="/works/opti-dam-home-page-redesign"
						>
							<h4>
								Redesigning digital asset management home page
							</h4>

							<div class="image">
								<img
									src="/images/works/opti-dam-home-page-redesign/home-page-redesign.png"
									alt="Homepage redesign"
								/>
							</div>
							<div class="text">
								<p>
									A refreshed homepage for assets, addressing
									longstanding issues and providing overdue
									improvements.
								</p>
							</div>
						</a>
					</li>

					<li>
						<a class="single" href="/works/opti-design-systems">
							<h4>Design System</h4>

							<div class="image">
								<img
									src="/images/works/opti-design-systems/design_system.png"
									alt="Optimizely Design System"
								/>
							</div>
							<div class="text">
								<p>
									The challenge was to create a reference
									system for all designers, featuring a set of
									reusable design elements.
								</p>
							</div>
						</a>
					</li>
					<li>
						<a class="single" href="/works/opti-marketing-website">
							<h4>Opti Marketing Website</h4>

							<div class="image">
								<img
									src="/images/works/opti-marketing-website/new_design_1.png"
									alt="Optimziely CMS new website"
								/>
							</div>
							<div class="text">
								<p>
									The CMS marketing website required a
									redesign, so I explored various design
									options for the page.
								</p>
							</div>
						</a>
					</li>

					<li>
						<a
							class="single"
							href="/works/opti-library-innerpage-exploration"
						>
							<h4>DAM Asset Details Design Exploration</h4>

							<div class="image">
								<img
									src="/images/works/opti-library-innerpage-exploration/inner_page_design.png"
									alt="Opti Library inner page exploration"
								/>
							</div>
							<div class="text">
								<p>
									The DAM asset pages were scattered, with
									separate pages for previews and versions.
									One asset could have multiple versions,
									making it hard for veteran users to remember
									and requiring training for new users. In
									this project, I aimed to merge everything
									into a single location.
								</p>
							</div>
						</a>
					</li>
					<li>
						<a class="single" href="/works/nc-dam-mobile-view">
							<h4>Mobile design for Library</h4>
							<div class="image">
								<img
									src="/images/works/nc-dam-mobile-view/mobile.png"
									alt="NewsCred DAM Mobile Design"
								/>
							</div>

							<div class="text">
								<p>
									Created a mobile version of NewsCred’s
									Library as a personal project.
								</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</section>
	</main>
</PageLayout>
