---
import PageLayout from "../layouts/default.astro";
const title = "Portfolio of Manaj Chakrobarti";
const bodyClass = "home";
import "../styles/homepage.scss";
---

<PageLayout title={title} bodyClass={bodyClass}>
	<main class="box homepage">
		<section class="inner">
			<div class="hero">
				<div class="hi">Hi</div>
				<div class="intro">
					<h1>
						I am Manaj, a product designer with 10+ years of
						experience designing b2b SaaS product.
					</h1>
					<p>
						With the design thinking process in mind, using
						usability to validate, I create accessible and
						interactive prototypes for people to test. Then, I keep
						repeating until it's perfect.
					</p>
				</div>
			</div>

			<div class="recent-works">
				<h2>Recent Works</h2>
				<ul class="no-list">
					<li class="single">
						<div class="image">
							<a href="/works/opti-product-recommendation-suite"
								><img
									src="/images/works/opti-product-recommendation-suite/self_service_widget.png"
									alt="Project details - rendition"
								/></a
							>
						</div>
						<div class="text">
							<h4>Product Recommendation suite</h4>
							<p>
								The challenge was to modernize the outdated
								Optimizely Recommendation software by improving
								its UX and usability to transition it from a
								managed solution to a self-service platform,
								beginning with its widget management.

								<a
									href="/works/opti-product-recommendation-suite"
									>See more</a
								>
							</p>
						</div>
					</li>
					<li class="single ">
						<div class="image">
							<a href="/works/opti-dam-home-page-redesign"
								><img
									src="/images/works/opti-dam-home-page-redesign/home-page-redesign.png"
									alt="Homepage redesign"
								/></a
							>
						</div>
						<div class="text">
							<h4>
								Redesigning digital asset management home page
							</h4>
							<p>
								A refreshed homepage for assets, addressing
								longstanding issues and providing overdue
								improvements.

								<a href="/works/opti-dam-home-page-redesign"
									>See more</a
								>
							</p>
						</div>
					</li>
					<li class="single">
						<div class="image">
							<a href="/works/opti-design-systems">
								<img
									src="/images/works/opti-design-systems/design_system.png"
									alt="Optimizely Design System"
								/>
							</a>
						</div>
						<div class="text">
							<h4>Design System</h4>
							<p>
								The challenge was to create a reference system
								for all designers, featuring a set of reusable
								design elements.

								<a href="/works/opti-design-systems">See more</a
								>
							</p>
						</div>
					</li>
					<li class="single">
						<div class="image">
							<a href="/works/nc-dam-rendition"
								><img
									src="/images/works/nc-dam-rendition/final.png"
									alt="Project details - rendition"
								/></a
							>
						</div>
						<div class="text">
							<h4>Rendition Design</h4>
							<p>
								This is one of my favorite pieces of work.
								Although it's a small interaction, I believe it
								demonstrates how little things can influence
								people's minds.

								<a href="/works/nc-dam-rendition">See more</a>
							</p>
						</div>
					</li>
					<li class="single">
						<div class="image">
							<a href="/works/opti-dam-list-view"
								><img
									src="/images/works/opti-dam-list-view/opti-dam-list-view.png"
									alt="Project details - List view asset library"
								/></a
							>
						</div>
						<div class="text">
							<h4>Asset library List View</h4>
							<p>
								Enhanced the list view to display more content
								and added new features.

								<a href="/works/opti-dam-list-view">See more</a>
							</p>
						</div>
					</li>

					<li class="single ">
						<div class="image">
							<a href="/works/opti-library-innerpage-exploration"
								><img
									src="/images/works/opti-library-innerpage-exploration/inner_page_design.png"
									alt="Opti Library inner page exploration"
								/></a
							>
						</div>
						<div class="text">
							<h4>DAM inner page exploration</h4>
							<p>
								Personal experiments to create a unified viewer
								for individual assets.

								<a
									href="/works/opti-library-innerpage-exploration"
									>See more</a
								>
							</p>
						</div>
					</li>
					<li class="single">
						<div class="image">
							<a href="/works/nc-dam-mobile-view"
								><img
									src="/images/works/nc-dam-mobile-view/mobile.png"
									alt="NewsCred DAM Mobile Design"
								/></a
							>
						</div>
						<div class="text">
							<h4>Mobile design for Library</h4>
							<p>
								Created a mobile version of NewsCred’s Library
								as a personal project.

								<a href="/works/nc-dam-mobile-view">See more</a>
							</p>
						</div>
					</li>
				</ul>
			</div>
		</section>
	</main>
</PageLayout>
