---
import BaseHead from "./components/basehead.astro";
import Footer from "./components/footer.astro";
import Header from "./components/header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const { title, bodyClass } = Astro.props;
---

<html lang="en">
	<!-- 
Hi, Manaj again. I hope you're here to check out the code. I wrote the HTML5 and CSS3 myself. You can find the code at this GitHub link https://github.com/manaj/manaj.github.io. Feel free to use it however you want. Have a great day, and thank you!
-->
	<head>
		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-E27V8CPNM0"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-E27V8CPNM0");
		</script>
		<BaseHead title={title} description={SITE_DESCRIPTION} />
	</head>
	<body class={bodyClass}>
		<Header />
		<slot />
		<Footer />
		<script
			src="https://kit.fontawesome.com/f16f97d717.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
