---
import BaseHead from "./components/basehead.astro";
import Footer from "./components/footer.astro";
import Header from "./components/header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const { title, bodyClass } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={SITE_DESCRIPTION} />
	</head>
	<body class={bodyClass}>
		<Header />
		<slot />
		<Footer />
		<script
			src="https://kit.fontawesome.com/f16f97d717.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
